.userCard {
	@apply max-w-[1130px] w-full mx-auto flex lg:mt-28 mt-0 md:justify-between justify-around flex-col lg:flex-row lg:items-start items-center font-["Gilroy"] pb-10;

	.userCard__info {
		@apply w-[305px] lg:w-[430px];
		@apply md:w-[650px];
		.userCard__bg {
			@apply md:w-[650px] md:h-[400px] w-[435px] h-[260px] hidden lg:block;
			background: url("../../../assets/images/userCardImage.png");
			background-size: cover !important;
		}
		.bg {
			@apply rounded-[6.13598px] lg:w-[178px] w-[135px] text-center py-[10px] font-bold text-[14px] leading-[131.5%] mt-[5px];
			background: linear-gradient(180deg, #ffe25a 0%, #ffa852 100%);
		}
	}
}
