.userProfile {
	@apply py-[25px] px-[20px] text-center w-[299px] font-['Gilroy'] bg-[#FFFFFF] rounded-[12.5328px] max-h-[520px] lg:w-full;
	box-shadow: 0px 2.50656px 12.5328px -3.58256px rgba(0, 0, 0, 0.15);
	@media all and (max-width: 768px) {
		box-shadow: none;
	}
	.userProfile__btn {
		@apply flex flex-col font-medium;
		a {
			@apply flex items-center gap-[25px] rounded-[8.92216px] m-4 text-[16px] leading-[22px];
			.info {
				background: linear-gradient(0deg, #7ec9f5 0%, #3957ed 97.5%);
				@apply rounded-[11.5901px] font-semibold text-[16px] leading-[22px] py-[5px] px-[10px] text-white;
			}
		}
		.active {
			@apply p-4 m-0;
			background: linear-gradient(180deg, #ffe25a 0%, #ffa852 100%);
			svg {
				@apply w-[25px];
			}
		}
		.none {
			svg {
				@apply w-[25px];
			}
		}
	}
}
