.userProfile {
	@apply pt-[25px] pb-3 px-[20px] text-center w-[299px] font-['Gilroy'] rounded-[18px] lg:mx-0 mx-auto;
	box-shadow: 0px 3.56886px 17.8443px -5.10088px rgba(0, 0, 0, 0.15);

	.userProfile__btn {
		@apply flex flex-col font-medium;
		a {
			@apply flex items-center gap-[25px] rounded-[8.92216px] m-4 text-[16px] leading-[22px];
			.info {
				background: linear-gradient(0deg, #7ec9f5 0%, #3957ed 97.5%);
				@apply rounded-[11.5901px] font-semibold text-[16px] leading-[22px] py-[5px] px-[10px] text-white;
			}
		}
		.active {
			@apply p-4 m-0;
			background: linear-gradient(180deg, #ffe25a 0%, #ffa852 100%);
		}
	}
}
